
[Desktop Entry]
Type=Application
Name=Call of Duty
Icon=lutris_cod
Exec=env LUTRIS_SKIP_INIT=1 flatpak run net.lutris.Lutris lutris:rungame/cod
Categories=Game
