[Desktop Entry]
Type=Application
Name=Dark Souls Remastered
Icon=dark-souls-remastered
Exec=env LUTRIS_SKIP_INIT=1 flatpak run net.lutris.Lutris lutris:rungame/dark-souls-remastered
Categories=Game
