
[Desktop Entry]
Type=Application
Name=Warcraft I Remastered
Icon=lutris_warcraft-i-remastered
Exec=env LUTRIS_SKIP_INIT=1 flatpak run net.lutris.Lutris lutris:rungame/warcraft1-remastered
Categories=Game
